/**
 * Styles specific to Mollom's "Report as Inappropriate" feature positioning.
 */

/**
 * A container within the comment that holds the flag form.
 * This container requires it's own relative positioning declaration
 * for Firefox because parent containers implement table-cell positioning.
 */
div.mollom-flag-container {
  position: relative;
}

/**
 * The floating report form holder.
 */
div.mollom-flag-reasons {
  position: absolute;
  top: -15px;
  left: 20%;
  z-index: 10;
}
