/**
 * @file
 * Stylesheet used to provide align and wrap functionality for atoms
 *
 * It is automatically included when the DnD plugin is used.
 */

.atom-align-right {
  float: right;
}

.atom-align-left {
  float: left;
}

.atom-align-center {
  margin: 0 auto;
  display: table;
}

/**
 * The following rules make legend look nice with responsive images.
 */
.dnd-atom-wrapper {
  display: table;
}
.dnd-drop-wrapper img {
  max-width: 100%;
  height: auto;
}
.dnd-legend-wrapper {
  display: table-caption;
  caption-side: bottom;
}
