@digital-hertiage-text-size-desktop: 18px;

// Digital Heritage
.digital-heritage-body {
    .field-name-field-media-asset {
        img {
            margin: auto;
        }
    }

    >.field {
        .metadata-field-padding;
        font-size: 16px;

        // Desktop
        @media (min-width: @screen-md-min) {
            font-size: 18px;
        }

        > a {
            .mukurtu-standard-link;
        }

        .label-above {
            .metadata-primary-field-label;
        }
    }

    // Field dividers
    >.field::after {
        content : "";
        display: inline-block;
        left: 0;
        bottom: 0;
        height: 1px;
        width: 100%;
        padding-top: 30px;
        border-bottom: 5px solid @mukurtu-primary-field-divider-color;
    }
}

.view-community-dh-items,
.view-digital-heritage-grid-list {
    >.view-content {
        .views-row-first {
            border-top: 5px solid @mukurtu-view-row-divider-color;
        }
        .views-row {
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }

    .views-row {
        .view-border;
    }
}