// Full width on mobile
html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

header {
	margin-top: 0px !important;
	border: 0px !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
}

/*#navbar-collapse {
    .navbar-nav {
		> li {
			@media (min-width: @screen-md-min) {		  
	    		&:hover,
	    		&:focus {
					border-bottom: @navbar-mukurtu-accent-height solid @brand-secondary;
				}
			}
		}
    }
}
*/

// @screen-sm-min TABLET
// @screen-md-min DESKTOP
// @screen-lg-min BIG DESKTOP

.mukurtu-menu {
	background-color: @brand-primary;
	//border-top: 6px solid @brand-primary;
	min-height: 6px;

    .navbar-nav, .links {
		> li {
	    	&:hover,
	    	&:focus {
				background-color: @mukurtu-navbar-default-link-hover-bg;
			}
		
	    	> a {
				font-weight: @mukurtu-navbar-default-font-weight;
				color: @mukurtu-navbar-default-link-color;
		  		&:hover,
		  		&:focus {
		      		color: @mukurtu-navbar-default-link-hover-color;
		      		text-decoration: none;
			  	}
			}
		}
	}
}

// Navbar toggle
.navbar-default {
	.navbar-toggle {
		border: none;
		padding-left: 0px;
		padding-right: 20px;		
		clear: right;
		width: @mukurtu-login-menu-width;

		&:hover,
		&:focus {		   	
		    background-color: @navbar-default-bg;
		}

		.collapse-menu-color-bars {
			float: left;
			width: 20%;
			.icon-bar {
				background-color: @brand-secondary;
				height: 4px;
			}
		}

		.collapse-menu-label {
			padding-left: 5px;
			float: right;
			width: 80%;
			
		}
	}
}

// Log in/Log out menu
.mukurtu-login-menu {
	float: right;
	border-radius: 0px 0px 5px 5px;
	ul {
		list-style-type: none;
		text-align: center;
		padding-left: 0px;
		margin-bottom: 4px;
		width: @mukurtu-login-menu-width;
	}

	a {
		text-transform: uppercase;
		font-size: @font-size-mukurtu-login-menu;
	}

	@media (min-width: @screen-sm-min) {
		margin-right: @grid-gutter-width !important;
	}
	@media (min-width: @screen-md-min) {
		margin-right: (@grid-gutter-width * 5) !important;
	}
}

// Logo and collapse menu
.navbar.container-fluid > #mukurtu-collapse-menu-container.container-fluid {
	// Logo
	.logo {
		img {
			// Mobile
			width: 60px;
			margin-left: @grid-gutter-width;

			// Tablet
			@media (min-width: @screen-sm-min) {
				width: 70px;
			}

			// Desktop
			@media (min-width: @screen-md-min) {
				width: 100px;
				margin-left: (@grid-gutter-width * 5);
			}
		}
	}

	// Main Mukurtu Browse Menu (About/Collections/Digital Heritage/etc)
	.navbar-collapse ul.navbar-nav.secondary {

		// Tablet 
		@media (min-width: @screen-sm-min) {
			position: relative;
			float: left;
			clear: left;
			font-size: @mukurtu-navbar-collapse-tablet-font-size;

			> li {
				// Non-hover border
				border-bottom: @navbar-mukurtu-accent-height solid transparent;
				border-right: 1px solid rgba(70, 70, 70, 0.25);

				&.last {
					border-right: none;
				}

				&:hover,
	    		&:focus {
					border-bottom: @navbar-mukurtu-accent-height solid @brand-secondary;
				}

				> a {
					color: @text-color;
				}
			}
		}

		// Desktop
		@media (min-width: @screen-md-min) {			
			position: absolute;
			bottom: 0;				
			margin-left: 25%;
			font-size: @mukurtu-navbar-collapse-font-size;
		}
	}
}

// Mobile Menu
#navbar-collapse.in,
#navbar-collapse.collapsing {
/*	position: fixed;
	top: 0;
	left: 0;
	background-color: @mukurtu-navbar-collapse-bg;
	width: 100%;
	z-index: 10000;*/
	border: none;
	
	.menu {		
		position: relative;
		text-align: center;		
		width: 100%;

		> li {
			padding: @mukurtu-navbar-collapse-padding;

			> a {
				font-size: @mukurtu-navbar-collapse-font-size;
				color: @mukurtu-navbar-collapse-link-color;
		  		&:hover,
		  		&:focus {
		      		color: @mukurtu-navbar-collapse-link-hover-color;
		      		text-decoration: none;
			  	}
			}
		}
	}
}
