.node-unit_plan-form {
  .group-lessons {
    legend {
        display: none;
    }
    #edit-field-unit-lessons-und-body {
      padding: 0;
    }
    #edit-field-unit-lessons-und {
        border: none;
    }
    .edit-field-unit-lessons-und--4 {
        border: none;
    }
    .field-name-field-pre-actions {
      display: none;
    }
  }
}


