.mukurtu-owl-carousel-single {
    .owl-nav {
        position: absolute;
        top: 50%;
        width: 100%;

        .owl-prev {
            .carousel-nav-left;
        }

        .owl-next {
            .carousel-nav-right;
        }
    }

    .owl-item {
        img {
            display: inherit;
            width: inherit;
        }

        .field-name-scald-thumbnail {
            text-align: center;
        }
    }
}