.section-shadow {
    background: linear-gradient(#E6E6E6, #FFF);
    background-repeat: no-repeat;
    background-size: 100% 12px;
}

// Links
.mukurtu-standard-link {
    color: @link-color;

    &:hover,
    &:focus {
        color: @brand-secondary;
        text-decoration: none;
    }
}

// Fields
.metadata-field-label {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: @mukurtu-expanded-letter-spacing;
    padding-bottom: 5px;
}

.metadata-primary-field-label {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: @mukurtu-expanded-letter-spacing;
    padding-bottom: 5px;

    // Desktop
    @media (min-width: @screen-md-min) {
        font-size: 18px;
    }
}

.metadata-field-padding {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}


//// Primary color link container
.primary-color-link-container {
    background-color: @brand-primary;

    &:hover,
    &:focus {
        background-color: @mukurtu-navbar-default-link-hover-bg;
    }

    a {
        &:hover,
        &:focus {
            text-decoration: none;
        }
    }
}

//// Left side image/right side text
@left-right-height: 100%;

.left-right-image-title {
    padding-bottom: 30px;

    > div {
        .primary-color-link-container;
    }

    // Right side
    .field-name-title {
    //div.field:nth-of-type(2) {
        float:right;
        width: 60%;
        text-align: center;
        height: @left-right-height;
        position: absolute;
        right: 0;

        h3 {
            margin: auto;
            line-height: @left-right-height;
            text-align: center;
            height: 100%;
            display: table;
            margin-top: 0px;
            margin-bottom: 0px;

            a {
                display: table-cell;
                vertical-align: middle;
                color: #fff;
                font-size: 14px;
                font-weight: bold;
                height: 100%;
            }

            // Tablet
            @media (min-width: @screen-sm-min) {
                a {
                    font-size: 15px;
                }
            }

            // Desktop
            @media (min-width: @screen-md-min) {
                a {
                    font-size: 16px;
                }
            }
        }
    }

    // Left side
    .field-name-field-community-image-thumbnail {
    //div.field:nth-of-type(3) {
        float:left;
        width: 40%;
        img {
            height: @left-right-height;
        }
    }
}