/**
 * Variable Overrides.
 *
 * Modify this file to override the Bootstrap Framework variables. You can copy
 * these variables directly from ../bootstrap/less/variables.less to this file.
 */

// Set the proper directory for the Bootstrap Glyphicon font.
@icon-font-path: '../bootstrap/fonts/';

@brand-primary: #159EC4;
@brand-secondary: #E6AB49;

@link-color:	 #138AAB;
@text-color:	 #464646;
@footer-text-color: #999999;
@footer-link-weight: bold;
@footer-link-color: #CCCCCC;

// Typography
@font-family-sans-serif-light: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
@font-size-base: 16px;
@font-size-mukurtu-login-menu: 13px;
@font-size-mukurtu-footer: 13px;
@mukurtu-expanded-letter-spacing: 1.2px;

// Navbar
@navbar-default-bg:                              #fff;
@navbar-default-border:                            none;
@navbar-mukurtu-bg:                                @brand-primary;

@mukurtu-login-menu-width:                         105px;

// Views
@mukurtu-view-row-divider-color:                #EEEAEA;
@mukurtu-primary-field-divider-color:           #E5E1E1;

// Mobile Menu/Collapse Navbar
@mukurtu-navbar-collapse-bg:                     #F8F7F7;
@mukurtu-navbar-collapse-tablet-font-size:         19px;
@mukurtu-navbar-collapse-font-size:                20px;
@mukurtu-navbar-collapse-link-color:             #138AAB;
@mukurtu-navbar-collapse-link-hover-color:       #E5AB48;
@mukurtu-navbar-collapse-padding:                  10px;

// Mukurtu Specific
@mukurtu-main-container-padding:                   8%;
@navbar-mukurtu-accent-height:                     6px;

// Mukurtu Menu Navbar links
@mukurtu-navbar-default-link-color:                #fff;
@mukurtu-navbar-default-link-hover-color:          #fff;
@mukurtu-navbar-default-link-hover-bg:             #138AAB;
@mukurtu-navbar-default-font-weight:               bold;

@mukurtu-navbar-default-link-active-color:         #555;
@mukurtu-navbar-default-link-active-bg:            darken(@navbar-default-bg, 6.5%);
@mukurtu-navbar-default-link-disabled-color:       #ccc;
@mukurtu-navbar-default-link-disabled-bg:          transparent;
