.fullcalendar-legend .fc-event-default {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-size: 0.85em;
  margin-bottom: 1em;
  margin-top: 1em;
  padding: 0.1em 0.5em;
}

.fullcalendar-legend .fc-event-default a {
  border: none;
  display: block;
  width: 100%;
}
